<!DOCTYPE html>
<html>
	<head>
		<title>Chat Demo</title>
		<link rel="stylesheet" type="text/css" href="/css/demoPage.css">
	</head>
	
	<body>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="/js/demojs.js"></script>
		<header>
             This is a chat Demo header.
        </header>
        <div id="main_chat_box" class="main_chat_box_div">
        	<div class="main_chat_box_head">
				<div class="main_chat_box_head_content">Chat</div>
        	</div>
        	<div class="main_chat_box_content">
	        	<div class="list_of_online_users">
		        	<ul>
						<!--  
							list of users available for chat
						-->
		        	</ul>
	        	</div>
        	</div>
        </div>	

    </body>
</html>